.index {
    .main {
        display: flex;
        flex-flow: column nowrap;
    }

    .weather {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        width: 1100px;
        margin: 15px auto 25px;
        padding: 20px 20px 0;
        background-color: #FFB029;
        border-top-right-radius: 30px;
        border-top-left-radius: 5px;
        border-bottom: 2px solid #facb7b;
        letter-spacing: 1px;

        h2 {
            flex: 1 0;
            font-size: 28px;
        }

        table {
            flex: 9 1;
            display: flex;
            flex-flow: row wrap;
            margin-left: 40px;

            td {
                display: inline-block;
                height: 100%;
                box-sizing: border-box;
                text-overflow: hidden;

                &:nth-child(2n-1) {
                    flex: 1 1 auto;
                }
                &:nth-child(2n) {
                    flex: 1.5 1 auto;
                    margin: 0 35px 0 10px;
                }

                span {
                    display: inline-block;
                    font-size: 20px;
                }

                img {
                    height: 20px;
                    margin-left: 5px;
                    object-fit: fill;
                    scale: 2.5;
                }
            }
        }
    }

    .recommend {
        width: 100%;
        margin: auto;
        padding: 10px 20px;
    }

    .recipe__about {
        width: 100%;
        background-color: #57493D;
        border-radius: 5px;
        color: white;
        box-shadow: 0px 2px 5px 2px rgb(158, 158, 158);

        > img {
            width: 100%;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        > h3 {
            font-weight: 600;
            letter-spacing: 3px;
            padding: 5px 10px;
        }

        &:hover {
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }

    .recipe__content {
        display: flex;
        flex-flow: row nowrap;
        padding: 5px 10px;

        p {
            display: inline-block;
            margin-right: 10px;
            font-weight: 400;

            &:hover {
                cursor: pointer;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }

    .main-recommend {
        width: 40%;
        margin: auto;

        .recipe__about {
            background-color: #9c7f65;

            > img {
                min-height: 200px;
                max-height: 300px;
            }

            h3 {
                font-size: 28px;
            }

            p {
                font-size: 22px;
            }
        }
    }

    .sub-recommend {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 80%;
        margin: 40px auto 0;

        .recipe__about {
            width: 25%;
            margin: 0 20px;

            > img {
                min-height: 100px;
                max-height: 200px;
            }
        }
    }
}